@import '../../styles/settings.scss';

.button {
    font-size: 20px;
    background: $color-success;
    color: $color-light;
    text-transform: uppercase;
    font-weight: 700;
    padding: $base-size;
    margin: 5px 10px;
    border-radius: $radius;
    cursor: pointer;
}